<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Welcome"
        tools:targetApi="31">
        <activity
            android:name=".PeriodsTracker"
            android:exported="false"
            android:theme="@style/Theme.Periods"
            />
        <activity
            android:name=".Activities.UpdateDeleteTask"
            android:exported="false"
            android:theme="@style/Theme.Dash" />
        <activity
            android:name=".Activities.Dash_Board"
            android:exported="false"
            android:theme="@style/Theme.Dash">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Activities.Onboarding_Process"
            android:exported="false"
            android:theme="@style/Theme.Welcome">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Activities.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <receiver android:name=".Utilities.NotificationReceiver" />
    </application>

</manifest>